*
  margin: 0;
  padding: 0;
  box-sizing: border-box;

.ctn1200
  width: 12rem;
  margin: 0 auto;
  &:after
    display: block;
    content: '';
    height: 0;
    clear: both;

.fl
  float: left;

.fr
  float: right;

ul, li
  list-style: none;

input
  outline: none;
  color: #000;
input::-webkit-input-placeholder
  color: #fff;
  opacity: 0.5;
input:-moz-placeholder
  color: #fff;
  opacity: 0.5;
input:-ms-input-placeholder
  color: #fff;
  opacity: 0.5;

.page-ctn
  width: 100%;
  overflow: hidden;
  text-align: left;
  margin-top: 0.4rem;

.top
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #444;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100;
  &:hover
    background: red;

  

